body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}

#u0 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:80px;
    width:1024px;
    height:134px;
    display:flex;
  }

  #u0_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:134px;
  }
  #u2 {
    border-width:0px;
    position:absolute;
    left:98px;
    top:125px;
    width:526px;
    height:74px;
    display:flex;
    font-family:'Castellar Bold', 'Castellar Regular', 'Castellar';
    font-weight:700;
    font-style:normal;
    font-size:23px;
    color:rgb(8, 6, 6);
    text-align:center;
  }

  
  #base {
    position:absolute;
    z-index:0;
  }

  #u0_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }